html {
  font-size: 16px;
}
.body-index {
  background-image: url("../img/home-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  outline: 1px solid white;
  align-items: start;
}

.index-header {
  grid-column: 2 / 3;
  outline: 1px solid white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
}

.index-ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.index-ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.index-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
}

.index-isologo {
  width: 15%;
  height: auto;
  margin-bottom: 0;
}

.index-h1 {
  font-size: 6rem;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.index-h2-main {
  font-size: 2.3rem;
  margin-top: 0;
  color: #FFFFFF;
}

.index-footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.index-ul-footer {
  display: flex;
  list-style: none;
  gap: 5px;
}
.index-ul-footer li a {
  text-decoration: none;
}
