@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

html {
  font-size: 16px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

/*Inicio del index*/
.body-index {
  background-image: url("../img/home-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  outline: 1px solid white;
  align-items: start;
}

.index-header {
  grid-column: 2 / 3;
  padding: 0;
}

.index-ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}

.index-ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.index-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  justify-content: flex-end;
  margin-top: 10rem;
}

.index-isologo {
  width: 10%;
  height: auto;
  margin-bottom: 0;
}

.index-h1 {
  font-size: 5rem;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: -0.07em; 
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.index-h2-main {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.index-footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  color: #FFFFFF;
}

.index-ul-footer {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  font-size: 0.6em;
}

.index-ul-footer li a {
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.8rem;
}

.index-footer-credits {
  text-align: center;
  font-size: 0.6em;
  margin-top: 3%;
  margin-bottom: 5%;
}

/* Enlaces del menú y del footer */
.index-ul li a,
.index-ul-footer li a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Hover del menú y footer */
.index-ul li a:hover,
.index-ul-footer li a:hover {
  color: #6BDEC8;
}
/*Fin del index*/

/*header-principal*/
.header-principal {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px 0;
  gap: 10px 20px;
}

.img-header-principal {
  grid-column: 1;
  width: 25px;
  height: auto;
}

.h2-header-principal {
  grid-column: 2;
  color: white;
  margin: 0;
  font-size: 2rem;
  margin-left: -100px;
 
}

.nav-header-principal {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.ul-nav-header-principal {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.ul-nav-header-principal a {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}

.ul-nav-header-principal a:hover {
  color: #6BDEC8;
}

.activo {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
/*Fin del header principal*/

/*footer Principal*/
.footer-principal {
  background-color: black;
  padding: 5% 0;
  color: white;
  font-size: 0.8rem;
}

.div-footer-principal {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

.lista-menu-footer {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -4%;
}

.lista-menu-footer a {
  color: white;
  text-decoration: none;
}

.lista-menu-footer a:hover {
  color: #6BDEC8;
}

.div-footer-principal p {
  margin-top: 3%;
  margin-bottom: 0;
}
/*Fin del footer principal*/
/*Qué es la cerámica*/
.main-ceramica {
  font-size: 0.8rem;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 2rem;
  text-align: justify;
}

.h1-que-es-la-ceramica {
  text-align: center;
}

/*Vídeo*/
.video-container {
  position: relative;
  width: 80%;
  max-width: 80%; 
  padding-top:1%; 
  margin: 0 auto;
}

figure {
  margin: 0.5rem 0;
}

.video {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
}

figcaption {
  font-size: 0.6rem;
}
/*Línea*/
.h2-ceramica {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 6px;
}

.h2-ceramica::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background-color: black
}

/*Lista utensílios*/
.lista-utensilios li {
  margin-bottom: 0.4rem;
}
/*Técnicas y materiales*/
/* Desplazar h3 */
.main-tecnicas-y-materiales h3 {
  margin-left: 1.2rem;
}

/* Desplazar todos los p EXCEPTO el primero */
.main-tecnicas-y-materiales p:not(:first-of-type) {
  margin-left: 3rem;
}

.footer-tecnicas-y-materiales p {
  font-size: 0.6rem;
}
.footer-tecnicas-y-materiales p a{
  color: #954e4e;
  text-decoration: underline;
  text-decoration-style: dotted;
  
}

/*Cursos*/
.h1-cursos {
  text-align: center;
}
.fecha-cursos {
  font-size: 3rem;
  font-weight: 800;
}

.main-cursos {
  font-size: 0.8rem;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 2rem;
  text-align: justify;
}

.figure-cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-cursos {
  width: 50%;
  height: auto;
}

.figure-cursos figcaption {
  width: 50%;
  text-align: left;
  margin-top: 0.3rem;
  font-size: 0.6rem;
}

.figure-cursos figcaption a {
  color: #954e4e;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.p-descripcion-cursos {
  width: 50%;
  margin: 1.5rem auto;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.4;
}

/*Tabla de cursos*/
.table-cursos {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  color: #504f4f;
  text-align: left;
  margin: 2rem 0;
}

.table-cursos {
  border-top: 2px solid #cfcfcf;
}

.table-cursos caption {
  text-align: center;
  padding: 0.8rem 0 0.4rem 0;
}
.table-cursos caption {
  font-size: 1rem;
  border-top: 2px solid #cfcfcf;
  padding-top: 0.6rem;
  text-align: center;
}

.thead-table-cursos {
  border-top: 2px solid #cfcfcf;
}

.thead-table-cursos th {
  font-weight: normal;
  padding: 0.6rem 0.4rem;
  border: none;
}

.table-cursos tbody td:first-child {
  color: black;
  font-weight: bold; /*negrita*/
}

.table-cursos td {
  padding: 0.6rem 0.4rem;
  border: none;
}

.table-cursos tbody tr:nth-child(odd) {
  background-color: #6BDEC8;
}

.table-cursos tbody tr:last-child td {
  border-bottom: none !important;
}

.table-cursos tfoot td {
  padding-top: 0.8rem;
  font-size: 0.6rem;
  color: #333;
  border-bottom: 1px solid black;
  text-align: left;
}
/*Fin Cursos*/
/*Inicio inscripcion cursos*/
